<div class="title">
    <h1 class="text-center">Choose an activity</h1>
</div>
{{data.activities}}

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title activeOne">Activity 1</h5>
        <p class="card-text">Activity Data Displayed Here</p>
        <a href="#" class="btn btn-primary">Select Activity</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title activeTwo">Activity 2</h5>
        <p class="card-text">Activity Data Displayed Here</p>
        <a href="#" class="btn btn-primary">Select Activity</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title activeThree">Activity 3</h5>
        <p class="card-text">Activity Data Displayed Here</p>
        <a href="#" class="btn btn-primary">Select Activity</a>
      </div>
    </div>
  </div>
</div>
 




        </div>
        <div class="row">