<div class="title">
    <h1 class="text-center">Choose your adventure</h1>
</div>
<div class="container">
    <form class="hide text-center" id="priceForm">
        <label for="price">Would you like this activity to be free? Y/N</label><br />
        <input type="text" id="price" name="price" /><br />
        <button href="/activities" type="button" class="btn btn-primary" value="submit" id="priceBtn">
            Submit
        </button>
    </form>

    
    <div class="d-flex justify-content-center justify-content-between">
        <div class="img-container">
            <img src="https://image.freepik.com/free-photo/girl-sitting-bench_1303-3492.jpg"
                alt="Girl planting seeds" width="500" height="300">
            <a class="centered solo">Solo</a>
        </div>
        <div class="img-container">
            <img src="https://image.freepik.com/free-photo/multiracial-group-young-people-taking-selfie_1139-1032.jpg"
                alt="Friends camping" width="500" height="300">
            <a class="centered social">Social</a>
        </div>
    </div>
</div>