<div class="title">
    <h1 class="text-center">Choose your adventure</h1>
</div>
<div class="container">
    <div class="d-flex justify-content-center justify-content-between">
        <div class="img-container">
            <img src="https://i.pinimg.com/originals/74/82/b8/7482b8ac9c19664efd731137fec5b5dd.jpg"
                alt="Girl in a jacket" width="250" height="250">
            <a class="centered">Solo</a>
        </div>
        <div class="img-container">
            <img src="https://i.pinimg.com/originals/00/e1/35/00e135efea6e4092d303143e6154d210.jpg"
                alt="Girl in a jacket" width="250" height="250">
            <a class="centered">Social</a>
        </div>
    </div>
</div>