<div class="title">
    <h1 class="text-center">Your random activity</h1>
</div>
{{#each serializedData as |data|}}
{{data.title}}
{{data.body}}
{{data.date_created}}
{{data.user.username}}
{{/each}}

<h3>Add a post!</h3>
<form class="new-post-form">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="title" class="form-control title" id="postTitle" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Post:</label>
        <textarea class="form-control" id="postText" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary postBtn">Submit</button>
</form>

<script src="/js/profile.js"></script>