body {
  background-color: #ebf5ee;
}

a {
  color: #283044;
  text-decoration: none;
  background-color: transparent;
  padding-left: 15px;
  font-weight: 500;
  font-family: "Catamaran", sans-serif;
}

h1 {
  font-family: "Bree Serif", serif;
  color: #283044;
}

.hide {
  display: none;
}

.posts {
  background-color: #ebf5ee;
}

.jumbotron {
  height: auto;
  padding: 5px 0 !important;
  background-color: #78a1bb;
  margin: auto;
}

.display-4 {
  padding: 5px;
}

.login-out {
  padding-right: 15px;
  background-color: #78a1bb;
  padding-top: 5px;
}

.links {
  padding-bottom: 5px;
}

.img-container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 45px;
}

.title {
    padding: 20px;
}

.user-form {
  margin-top: 5%;
  color: #78a1bb;
  border: 1px solid #78a1bb;
  border-radius: 8px;
  padding: 25px;
  background: white;
  animation: Slide_Up 3s ease;
}

.label {
}

.signup-form,
.signup-header {
  padding-left: 16px;
}

.form-input {
  border-bottom: 2px solid #78a1bb;
}

#priceForm {
    color: #78A1BB;
    font-size: 20px;
}
.no-button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

#login,
#logout {
  font-size: 20px;
}

@keyframes Slide_Up {
  0% {
    transform: translateY(600px);
  }
  100% {
    transform: translateY(0);
  }
}

.card {
  position: relative;
  text-align: center;
  border: 1px solid #78a1bb;
  border-radius: 8px;
  padding-left: 10px;
}

.btn {
  background-color: #283044;
}

.file-upload {
  cursor: pointer !important;
}
