body {
    background-color: #EBF5EE;
}

a {
    color: #283044;
    text-decoration: none;
    background-color: transparent;
    padding-left: 15px;
    font-weight: 500;
    font-family: 'Catamaran', sans-serif;
}

h1 {
  font-family: "Bree Serif", serif;
  color: #283044;
}

.posts {
    background-color: #EBF5EE;
}
.container {
    width: 600px;
}

.jumbotron {
  height: auto;
  padding: 5px 0 !important;
  background-color: #78A1BB;
  margin: auto;
}

.display-4 {
    padding: 5px;
}

.login-out {
    padding-right: 15px;
    background-color: #78A1BB;
    padding-top: 5px;
}

.links {
    padding-bottom: 5px;
}

.img-container {
    position: relative;
  text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #78A1BB;
    font-size: 45px;
}

.title {
    padding: 5px;
}

.user-form {
    margin-top: 5%;
    color: #78A1BB;
    border: 1px solid #78A1BB;
    border-radius: 8px;
    padding: 25px;
    background: white;
    animation: Slide_Up 3s ease;
}

.signup-form,
.signup-header {
    padding-left: 16px;
}

.form-input {
    border-bottom: 2px solid #78A1BB;
}

#login,
#logout {
    font-size: 20px;
}

@keyframes Slide_Up{
    0%{
        transform:translateY(600px);
    }
    100%{
        transform: translateY(0);
    }
}
